* {
	background: red;
	box-sizing: border-box;
}

p {
	background: yellow;
}

.dog {
	width: 300px;
	height: 300px;
}

.dog img {
	max-width: 100%;
	width: 100%;
}

.rubrik {
  font-size: 36px;
  background: whitesmoke;
  color: black;
}